// define the typography here in general
// can be more specified by page on _home.scss, etc.

body {
    padding: 0; 
    font-family: $modern_sans;
    font-weight: $normal_font;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: $modern_sans7;
    font-size: 1.8em;
}
h3 {
    font-size: 1em;
}
