{% extends "@App/basePublic.html.twig" %}

{% block contenu %}
<section class="premiere">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                gauche
            </div>
            <div class="col-7">
                droite
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block isasideBlock %}Asideblock{% endblock %}