{% extends "@App/basePublic.html.twig" %}

{% block contenu %}Galerie
<p>
    <a href="{{ path('accueil')}}">Lien vers accueil</a>
</p>


{% endblock %}


{% block isasideBlock %}Asideblock{% endblock %}