{% extends "@App/baseAdmin.html.twig" %}

{% block title %}Admin Premier mOt{% endblock %}

{% block contenu %}Contenu

    <p>
        <a href="{{ path('admin_tarifs') }}">lien Tarifs</a>
    </p>

{% endblock %}
