{% extends "@App/baseAdminPages.html.twig" %}

{% block title %}Admin Premier mOt{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="row ">
            <div class="col ">
                <h2 >Espace Administration :</h2>
                <p>
                    traitement des pages Front
                </p>
            </div>
            <h1></h1>
        </div>
        <div class="row">

        </div>
    </div>
{% endblock %}
