{% extends "@App/basePublic.html.twig" %}
{% block active5 %}active{% endblock %}

{% block head_js %}{% endblock %}

{% block contenu %}
    <div class="container-fluid main resa_body_font ">
        <div class="row">
            <div class="col-5 col-md-3 border-right counters">
                <aside>
                    <div>
                        <h1>Mentions Légales</h1>
                    </div>
                </aside>
            </div>
            <div class="col-5 col-md-7">
                <main>
                    <div class="container ">
                        <div class="row d-block">
                            <div class="offset-md-1 col">
                                <header >
                                    <h2 class="title">Espace Mentions légales</h2>
                                </header>

                                <p><em>
                                <p> A compléter par le client:
                                    pour une société : raison sociale, forme juridique, adresse de l'établissement ou du siège social (et non pas une simple boîte postale), montant du capital social ;<br>
                                    adresse de courrier électronique et numéro de téléphone ; <br>
                                    pour une activité commerciale : numéro d'inscription au registre du commerce et des sociétés (RCS) ;<br>
                                    <br>
                                    en cas d'activité commerciale : numéro individuel d'identification fiscale numéro de TVA intracommunautaire <br>
                                    pour une profession réglementée : référence aux règles professionnelles applicables et au titre professionnel ; <br>
                                    nom et adresse de l'autorité ayant délivré l'autorisation d'exercer quand celle-ci est nécessaire <br>
                                    nom du directeur de la publication et coordonnées de l'hébergeur du site (nom, dénomination ou raison sociale, adresse et numéro de téléphone) ; <br>
                                    pour un site marchand, conditions générales de vente (CGV) : prix (exprimé en euros et TTC), frais et date de livraison, modalité de paiement, service après-vente, droit de rétractation, durée de l'offre, coût de la technique de communication à distance ;<br>
                                    <br>
                                    Aucun cookie utilisé sur ce site.
                                </p>
                                    </em>
                                </p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="row image_contact d-block">
        </div>
    </div>

{% endblock %}

{% block foot_js %}
    <!-- js -->
{% endblock %}