{% extends "@App/basePublic.html.twig" %}
{% block active3 %}active{% endblock %}

{% block head_js %}
    <!-- liens/link js pour gallerie -->
{% endblock %}
{% block head_css %}
    <!-- css pour gallerie -->
{% endblock %}

{% block contenu %}
    <aside>

    </aside>
    <main class="main">
        <section class="premiere">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5 border-right">
                        gauche
                    </div>
                    <div class="col-7">
                        Spectacles
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}

{% block foot_js %}
    <!-- js pour gallerie-->
{% endblock %}

{% block isasideBlock %}Asideblock{% endblock %}