{% extends "@App/basePublic.html.twig" %}
{% block active4 %}active{% endblock %}

{% block head_js %}{% endblock %}

{% block contenu %}
    <div class="container-fluid main resa_body_font ">
        <div class="row">
            <div class="col-3 border-right">
                <aside>
                    <p class="m-3"><em><u>déroulement de la réservation</u></em></p>
                    <ol>
                        <li>inscription ou identification</li>
                        <li>création d'une réservation</li>
                        <li>création des places de spectateur</li>
                        <li>Règlement de la Réservation</li>
                        <li>validation de la Réservation</li>
                    </ol>
                </aside>
            </div>
            <div class="col-7">
                <main>
                    <div class="container ">
                        <div class="row d-block">
                            <div class="offset-lg-1 col">
                                <header >
                                    <h2 class="m-3">Espace Réservation :</h2>
                                </header>
                                <p><em>Bienvenue dans l'espace de Réservation. <br>
                                        Veuillez vous <a href="{{ path('form_login_client')}}">identifier</a><br>
                                        ou vous <a href="{{ path('form_client')}}">inscrire.</a></em>
                                </p>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="row image d-block">
        </div>
    </div>

{% endblock %}

{% block foot_js %}
    <!-- js pour gallerie-->
{% endblock %}

{% block isasideBlock %}Asideblock{% endblock %}