{% extends "@App/baseAdmin.html.twig" %}

{% block contenu %}

    <p>
        <a href="{{ path('admin_tarifs')}}">retour tarifs</a>
    </p>

    <div class="text-align-center">
        {% if tarif %}
                <p>
                    tarif : {{ tarif.prixplace }}
                </p>
                <a href="{{ path('admin_supp_tarif',  {'id': tarif.id}) }}">
                    <button class="supprimer" type="submit">Supprimer</button>
                </a>
                <a href="{{ path('admin_modif_tarif',  {'id': tarif.id}) }}">
                    <button class="modifier" type="submit">Modifier</button>
                </a>
        {% endif %}
    </div>


{% endblock %}
