//  Defines Fontfamily and font-weight in general.

//source font files in fonts directory:  fonts/...
@font-face {
    font-family: "ModernSans-Light";
    src: url('../../fonts/ModernSans-Light.otf');
}

@font-face {
    font-family: "Sansation_Regular";
    src: url('../../fonts/Sansation_Regular.ttf');
}

@font-face {
    font-family: "norty";
    src: url('../../fonts/norty.ttf');
}

@font-face {
    font-family:"DSGabriele";
    src:url('../../DSGabriele.ttf');
}

// header and decorative font are separated for more liberty in using it;
// so header can be more classic or easely changed in case.
$decorative_font: cursive, "norty";
$compagnie_font: cursive, "norty" ;

$modern_sans: "ModernSans-Light", sans-serif;
$Sansation_Regular: "Sansation_Regular";
$header_font: $decorative_font;

//font weights !
$light_font: 300;
$normal_font: 500;
$bold_font: 700;